* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

section {
    height: 100vh;
    display: grid;
    /* grid-template-areas: "a b c c d e e"
                         "a b c c d e e"
                         "a b c c d e e"
                         "f f f g d e e"
                         "f f f g d e e"
                         "f f f g d e e"
                         "h h i i d k l"
                         "h h i i d k l"
                         "h h i i d k l"
                         "h h i i d k l"
                         "j j j j d k l"
                         "j j j j d k l"; */
grid-template-areas: "a b c c d e e"
                     "f f f g d e e"
                     "h h i i d k l"
                     "j j j j d k l";
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 2px;
    padding: 1px;
}

section > div {
    grid-area: var(--ga);
    display: grid;
    place-items: center;
    border: solid 1px;
    /* height: aut; */
    min-height: calc((100vh - 8px) / 4);
}

section > div:nth-child(8) {
    height: calc((100vh - 8px) / 3);
}

section > div:nth-child(10) {
    min-height: auto;
    height: calc((100vh - 8px) / 6);
}