* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

section {
    height: 100vh;
    display: grid;
    grid-template-areas: "a b c c d e e"
                         "f f f g d e e"
                         /* "h h i i d k l" */
                         "h h i i d k l"
                         "j j j j d k l";
    grid-auto-columns: 1fr;
    gap: 2px;
    padding: 1px;
}

section > div {
    grid-area: var(--ga);
    display: grid;
    place-items: center;
    border: solid 1px;
}